### This notebook code that maps the Promises from the updates google form to the sheet Roshan Shared

In [1]:
import pandas as pd

In [2]:
ideal_promises = pd.read_excel('../assets/data/Promises.xlsx')

In [59]:
ideal_promises.to_excel('newPromises.xlsx', index=None)

In [3]:
ideal_promises.Promise = ideal_promises.Promise.apply(lambda x: x.lower().strip())

In [25]:
ideal_promises['Sub promise'] = ideal_promises['Sub promise'].apply(lambda x: x.lower().strip())

In [26]:
updates = pd.read_excel('../assets/data/updates.xlsx')

In [27]:
updates.shape

(235, 11)

In [28]:
updates.Promise = updates.Promise.apply(lambda x: x.lower().strip())

In [29]:
ideal_promises.head()

,Sr No,Promise,Outcome,Department,Sub promise
0,1,jan lokpal bill,Governance,Delhi Assembly,aam aadmi party resolves to legislate the delh...
1,1,jan lokpal bill,Governance,Anti Corruption Bureau,this will ensure a time-bound investigation in...
2,1,jan lokpal bill,Governance,Delhi Assembly,the delhi lokpal will have the power to initia...
3,1,jan lokpal bill,Governance,Delhi Assembly,a citizens’ charter shall be introduced in all...
4,1,jan lokpal bill,Governance,Finance Department,whistleblowers will be provided protection and...

In [30]:
correct_subpromises = ideal_promises['Sub promise'].unique()

In [31]:
correct_promises = set([promise.lower() for promise in ideal_promises.Promise.unique()])

In [32]:
assert len(correct_promises) == 70

In [33]:
updates_promises = set([promise.lower() for promise in updates.Promise.unique()])

In [34]:
errors = updates_promises - correct_promises

In [35]:
from fuzzywuzzy import process

In [36]:
corrections = {k:process.extract(k, correct_promises, limit=1)[0][0] for k in errors}

In [37]:
corrections

{'delhi to be startup hub': 'delhi to be start up hub',
 'fair arrangement for auto drivers': 'fair arrangement for autodrivers',
 'large scale expansion inbus service': 'large scale expansion in bus services',
 'higher education gurantee scheme': 'higher education guarantee scheme',
 'just and fair policy for e rickshaws': 'just and fair policy for e-rickshaws',
 'increased spending on education and healthcare': 'increase spending on education & healthcare',
 'five hundred new government schools': 'ramp up government schools to provide quality education',
 'fair and transparent water pricing': 'fair transparent water pricing',
 'justice for the victims of 1984': 'justice for victims of anti-sikh 1984 carnage',
 'water from munak canaal': 'water from munak canal',
 'promote rainwater harvesting': 'promote rain water harvesting',
 'twenty new degree colleges': '20 new degree colleges',
 'water as a right': 'water as right',
 'crackdown on water mafia': 'crack down on water mafia',
 'contractual posts to be regularized': 'contractual posts to be regularised',
 'cctvs in public spaces and buses': "cctv's in public spaces & buses",
 'delhi to be made solar city': 'delhi to be made a solar city',
 'delhi janlokpal bill:': 'delhi to be made a trade and retail hub',
 'build 2,00,000 public toilets': 'build 2 lakh public toilets',
 'transparency in schools admission': 'tranparency in school admissions',
 'wifi delhi': 'wi-fi delhi'}

In [38]:
maps = {k:k for k in updates.Promise.unique()}
maps.update(corrections)

In [39]:
updates['Promise'] = updates['Promise'].map(maps)

In [40]:
updates['SubPromise'] = updates['SubPromise'].apply(lambda x: x.split('__')[-1].lower().strip())

In [41]:
updates.head()

,Timestamp,Promise,SubPromise,Date of Update,Status,Description,Title,Proof Documents/Images,Proof URL,Email Address,Approved
0,2020-02-03 18:38:44.301000,delhi to be made a solar city,we are committed to ensuring that 20 percent o...,2018-08-05,In Progress,BRPL aims to bring the benefit of Rooftop Sola...,Solarize Dwarka launched in BSES Rajdhani regi...,https://drive.google.com/open?id=1mhcUrdxLr3LA...,http://solarbses.com/,NaN,Yes
1,2020-02-04 15:33:03.322000,20 new degree colleges,further we will double the existing seat capac...,2019-08-24,In Progress,Building of new campuses for Ambedkar universi...,Ambedkar University New Campuses,https://drive.google.com/open?id=1RqFvgsnm4wYo...,https://www.thehindu.com/news/cities/Delhi/aud...,NaN,Yes
2,2020-02-04 16:34:14.222000,20 new degree colleges,further we will double the existing seat capac...,2017-08-18,In Progress,New University Campus for DTU opened up in Viv...,East Campus of DTU,https://drive.google.com/open?id=1xcXa5znsMEjO...,https://www.hindustantimes.com/delhi-news/east...,adityapaul.aap@gmail.com,Yes
3,2020-02-04 16:53:02.346000,ramp up government schools to provide quality ...,aap will build 500 new schools with a special ...,2020-01-09,Done,"The AAP govt opened 20,000 classrooms in Delhi...","AAP builds 20,000 new classrooms",https://drive.google.com/open?id=1My2P9B7qDRNG...,https://www.hindustantimes.com/education/aap-g...,adityapaul.aap@gmail.com,Yes
4,2020-02-04 17:14:40.167000,ramp up government schools to provide quality ...,aap will build 500 new schools with a special ...,2020-04-08,Done,Details of Swimming pools in two school situat...,Delhi Govt Schools in West Vinod Nagar & Mayur...,https://drive.google.com/open?id=1wp2zNWzsOGSi...,https://timesofindia.indiatimes.com/city/delhi...,adityapaul.aap@gmail.com,Yes

In [42]:
subpromise_errors = set(updates['SubPromise'].unique()) - set(correct_subpromises)

In [46]:
corrections = {k:process.extract(k, correct_subpromises, limit=2) for k in subpromise_errors}

In [51]:
len(subpromise_errors)

21

In [56]:
updates[updates['SubPromise'].isin(subpromise_errors)].to_excel('soumya_corrections.xlsx', index=None)

In [61]:
updates.to_excel('newupdates.xlsx', index=None)